/*
*****************************
GENERAL STYLES
*****************************
*/
/* 
- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

****************************
-COLORS: 

Light Green: #7ed56f , #33d659 , 
Medium Green: #55c57a , #29ab47
Dark Green: #28b485 , #009066


Gray : #555


*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  /* font-size:10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* defualt font size 16 hast va ma baraye inke har 1 rem ro 10px dar nazar begirim ke kare mohasebe kardanemon ason she , 10px ro taghsim bar defualt font size kardim ke darsadesh moshakhas she */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

/*
*****************************
KEY FRAMES 
*****************************
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*
*****************************
REUSEABLE STYLES 
*****************************
*/
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* baraye inke vaghti animation ejra mishe akharesh larzesh riz etefaq nayofte az in ravesh baraye fix kardanesh estefade mikonim */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* chon span inline , ma 2 tashono block mikonim ke to ye khat nabashan */ }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 3.6rem;
    animation-name: moveInLeft;
    animation-duration: 0.9s;
    /* ease out yani dar akhar (out) slow mishe animation */
    animation-timing-function: ease-out;
    /*
   animation-delay: 1s; 
   
   tedad tekrare animation
   animation-iteration-count: 3;
  */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    /* kotah shodeye 3 property name - duration - function */
    animation: moveInRight 0.9s ease-out; }

.btn {
  /* inja be btn position reletive midim ke be btn::after  absolute bedim va ono zire btn asli qararesh bedim */
  /* inja chon btn seudo elemente after grfte yani child btn hast pas height o width 100% midim ke ham andaze khode btn beshe  */ }
  .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem 4rem;
    font-size: 1.6rem;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #666; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* dar in qesmat yani btn after ma z-index ro manfi mizarim ke zire btn asli qarar begire (age z-index ro to khode btn bala bebarim kar nmikone ) */
    z-index: -1;
    transition: all 0.4s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* inja opacity heyn 0.4s transitioni ke to btn after qarar dadim 0 mishe */
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom 0.6s ease-out 0.6s;
    /* dar halat aadi vaghti delay be animation bedim ro halat zaher qarar dare bad sanie delay animation ejra mishe vase inke qabl anjam animation ham ro safhe vojod nadashte bashe elementemon az in property estefade miknim in yani dar keyframe marbot be khodesh opacity 0 ro begire qabl ejra (delay)*/
    animation-fill-mode: backwards; }

/*
*****************************
MAIN STYLES
*****************************
*/
.header {
  position: relative;
  height: 95vh;
  /* inja baraye inke aks zire rang biofte ono 2vom qarar midim */
  background-image: linear-gradient(to right bottom, rgba(51, 214, 89, 0.801), rgba(0, 144, 102, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* shayad to negah aval va size kamel safhe taghiri nabinim ama vaghti size safe kochik beshe mikhaim ke position aks az bala safhe shoro she ke zaher kharab nashe */
  background-position: top;
  /* polygon (x y , x y , x y , x y) va x-y az chap bala shoro va har chand ta x-y mishe estefade kard ke shape haye mokhtalef mishe sakht https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.6rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
