/* 
- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

****************************
-COLORS: 

Light Green: #7ed56f , #33d659 , 
Medium Green: #55c57a , #29ab47
Dark Green: #28b485 , #009066


Gray : #555


*/

// COLORS
$color-primary: #29ab47;
$color-primary-med: #55c57a;
$color-primary-light: #33d659;
$color-primary-dark: #009066;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;

$color-grey-dark: #666;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
