.btn {
  /* inja be btn position reletive midim ke be btn::after  absolute bedim va ono zire btn asli qararesh bedim */
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem 4rem;
    font-size: $default-font-size;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;

    // change for <button> element
    border: none;
    cursor: pointer;
  }

  /* inja chon btn seudo elemente after grfte yani child btn hast pas height o width 100% midim ke ham andaze khode btn beshe  */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;

    /* dar in qesmat yani btn after ma z-index ro manfi mizarim ke zire btn asli qarar begire (age z-index ro to khode btn bala bebarim kar nmikone ) */
    z-index: -1;

    transition: all 0.4s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* inja opacity heyn 0.4s transitioni ke to btn after qarar dadim 0 mishe */
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary-med;
    color: $color-white;

    &::after {
      background-color: $color-primary-med;
    }
  }

  &--animated {
    animation: moveInBottom 0.6s ease-out 0.6s;
    /* dar halat aadi vaghti delay be animation bedim ro halat zaher qarar dare bad sanie delay animation ejra mishe vase inke qabl anjam animation ham ro safhe vojod nadashte bashe elementemon az in property estefade miknim in yani dar keyframe marbot be khodesh opacity 0 ro begire qabl ejra (delay)*/
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    font-size: $default-font-size;
    font-weight: 600;
    color: $color-primary-med;
    text-decoration: none;
    border-bottom: solid 1px $color-primary-med;
    padding: 0.3rem;

    transition: all 0.3s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary-med;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(-1px);
  }
}
