.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.5);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &__content {
    position: relative;
    background-color: $color-white;
    border-radius: 3px;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    @include absCenter;

    display: table;
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
    transition: all 0.5s 0.2s;

    @include respond(tab) {
      width: 85%;
    }
  }

  &__left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab) {
      width: 100%;
      display: inline-block;
    }
  }

  &__right {
    width: 66.666667%;
    padding: 5rem;

    display: table-cell;
    vertical-align: middle;

    @include respond(tab) {
      width: 100%;
      display: inline-block;
    }

    @include respond(phone) {
      padding: 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab) {
      display: none;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 6rem;
    column-rule: 1px solid $color-grey-light-2;

    @include respond(phone) {
      column-count: 1;
    }
  }

  // open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-size: 3rem;
      text-decoration: none;
      color: $color-grey-dark;
      line-height: 1;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary-med;
    }
  }
}
