.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* baraye inke vaghti animation ejra mishe akharesh larzesh riz etefaq nayofte az in ravesh baraye fix kardanesh estefade mikonim */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  /* chon span inline , ma 2 tashono block mikonim ke to ye khat nabashan */
  &--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 3.6rem;

    animation-name: moveInLeft;
    animation-duration: 0.9s;

    /* ease out yani dar akhar (out) slow mishe animation */
    animation-timing-function: ease-out;

    /*
   animation-delay: 1s; 
   
   tedad tekrare animation
   animation-iteration-count: 3;
  */
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1.6rem;

    /* kotah shodeye 3 property name - duration - function */
    animation: moveInRight 0.9s ease-out;
  }
}

.heading-secondary {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

  // baraye in ke background image ke ma rang gradient dadim fqt ro text emal beshe va dg halat box manand posht nevshte nabashe az in property estefade mikonim
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  letter-spacing: 2px;
  transition: all 0.3s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}
