.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* baraye inke vaghti animation ejra mishe akharesh larzesh riz etefaq nayofte az in ravesh baraye fix kardanesh estefade mikonim */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  /* chon span inline , ma 2 tashono block mikonim ke to ye khat nabashan */
  &--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 3.6rem;

    animation-name: moveInLeft;
    animation-duration: 0.9s;

    /* ease out yani dar akhar (out) slow mishe animation */
    animation-timing-function: ease-out;

    /*
   animation-delay: 1s; 
   
   tedad tekrare animation
   animation-iteration-count: 3;
  */
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1.6rem;

    /* kotah shodeye 3 property name - duration - function */
    animation: moveInRight 0.9s ease-out;
  }
}
